.progress-bar-track {
    position: relative;
    height: 4px;
    background-color: #dee2e6;
    width: 100%;
    border-radius: 2px;
  }
  
  .truck-icon {
    position: absolute;
    top: -20px;
    transition: left 1s ease-in-out;
  }
  